[Unit]
Description=USTC Suzhou Network Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={安装 python3 环境的任意用户}
WorkingDirectory={仓库绝对路径}
Restart=on-failure
RestartSec=5s
ExecStart={uv 的绝对路径} run python -u UstcNetwork.py {ustc-network.local.conf 的绝对路径}
ExecReload={uv 的绝对路径} run python -u UstcNetwork.py {ustc-network.local.conf 的绝对路径}
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
