[Unit]
Description=USTC Suzhou Network Service
After=network.target

[Service]
Type=simple
User={安装 python3 环境的任意用户}
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python3 {UstcNetwork.py 的绝对路径} {ustc-network.conf 的绝对路径}
ExecReload=/usr/bin/python3 {UstcNetwork.py 的绝对路径} {ustc-network.conf 的绝对路径}
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
